<% provide(:title, 'About me') %>
<h1>About me</h1>
<p>
	Image Blog created and maintained by Risa. <br />
	Based in part from 	<a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
</p>
<p>
	The purpose of this blog is to serve as a personal image repository for all things found on the interwebs.
</p>

<h6>All images copyrighted by their respective owners. Everything is just a repost!</h6>
