<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
  	<h3>Images</h3>
    <% if @user.images.any? %>
      <ul class="images">
        <%= render @images %>
      </ul>
      <%= will_paginate @images %>
    <% end %>
  </div>
</div>