@import "bootstrap";

/* mixins, variables, etc */
$grayMediumLight: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background: url('ryuomaru.jpg');
  background-repeat:no-repeat;
  background-position:right bottom;
  height: 800px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.hero-unit {
  background-color: rgba(20,20,20,0.1);
}

.center {
  text-align: center;
  h1 {
  	margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: Verdana;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
  	color: #fff;
  	text-decoration: none;
  }
}

/* footer */

footer {
  clear: both;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
  	color: $gray;
  	&:hover {
  		color: $grayDarker;
  	}
  }
  small {
  	float: left;
  }
  ul {
  	float: right;
  	list-style: none;
  	li {
  		float: left;
  		margin-left: 10px;
  	}
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    font-size: 13pt;
    font-family: Verdana;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* images */

.description {
  color: $grayDarker;
}
.tags {
  color: gray;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
.content {
  padding: 20px 20px;
  margin: auto;
  float:center;
  text-align: center
}
.left-column, .right-column {
  float: left;
}
.left-column {
  width: 75px;
  border-bottom:solid 1px;
  height: 75px;
}
.right-column {
  width: 80%;
  border-bottom:solid 1px;
  height: 75px;
}
.image {
  margin: 5px;
}