<div class="left-column">
	<div class="image"><%= link_to image_tag("funny-gif-beach-ball.gif", alt: "funny gif beach ball", size: "70x70"), image_path(image.id) %></div>
</div>
<div class="right-column">
	<div class="img_name"><%= link_to image.img_name, image_path(image.id) %></div>
	<div class="description"><%= image.description %></div>
	<div class="tags"><%= image.tags %></div>
</div>