<footer class="footer">
  <small>
    Image Blog by <a href="http://github.com/rbatta">Risa</a>, based in part on <a href="http://railstutorial.org">Rails Tutorial</a> by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>